*{
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    margin: 0;
    padding: 0;
    background-color: #f5f5f5;
}
.login-container{
    margin-left: 500px;
    background-color: white;
    margin-top: 80px;
    padding-top: 20px;
    height: 570px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    width: 500px;
    border-radius: 25px;
}

.login-head h1{
    text-align: center;
    margin-top: 40px;
    padding-bottom: 30px;
}

.login-input{
    margin-left: 50px;
}

.login-input label{
    display: block;
    padding-bottom: 10px;
}

.login-input input{
    height: 20px;
    width: 385px;
    margin-bottom: 15px;
    padding: 12px;
}

.login-input input:focus{
    outline: none;
    border-color: #16b3e3;
}

.login-btn {
    width: 410px;
    padding: 12px;
    margin-top: 20px;
    margin-left: 50px;
    background-color: #1665e3;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.login-btn:hover {
    background-color: #07398b;
}

.signup-link {
    text-align: center;
    margin-top: 20px;
    color: #666;
}

.signup-link a {
    color: #1665e3;
    text-decoration: none;
}
.or-divider {
  display: flex;
  align-items: center;
  text-align: center;
  margin: 10px 0;
  padding-left: 52px;
  padding-right: 72px;
}

.or-divider::before,
.or-divider::after {
  content: "";
  flex: 1;
  border-bottom: 1px solid #ccc;
}

.or-divider::before {
  margin-right: 10px;
  margin-top: 5px;
  margin-bottom: 5px;
}

.or-divider::after {
  margin-left: 10px;
  margin-top: 5px;
  margin-bottom: 5px;
}

.or-text {
  color: #666;
  font-size: 14px;
  text-transform: uppercase;
  margin-top: 5px;
  margin-bottom: 5px;
}

.social-auth {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.social-auth-btn {
    width: 375px;
    height: 30px;
    margin-left: 70px;
    padding: 12px;
    border-radius: 6px;
    font-size: 1rem;
    font-weight: 500;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    border: 0px;
    background-color: white;
}

.social-auth-btn:hover {
  transform: translateY(-2px);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}

.google-btn { color: #DB4437; }
.facebook-btn { color: #4267B2; }
.google-btn:hover{
    color: white;
    background-color:  #f8685b;
}
.facebook-btn:hover{
    color: white;
    background-color: #5f8de9;
}

@media (max-width:480px) {
    .login-container{
        margin-left: 15px;
        width: 400px;
        margin-top: 30px;
    }
    .login-input{
        margin-left: 20px;
    }
    .login-input input{
        width: 335px;
    }
    .login-btn{
        width: 360px;
        margin-left: 20px;
    }
    .social-auth-btn{
        width: 360px;
        margin-left: 20px;
    }
}
@media (max-width:411px) {
    .login-container{
        width: 350px;
    }
    .login-input{
        margin-left: 18px;
    }
    .login-input input{
        width: 290px;
    }
    .login-btn{
        width: 312px;
        margin-left: 20px;
    }
    .social-auth-btn{
        width: 310px;
        margin-left: 20px;
    }
}
@media (max-width:365px){
    .login-container{
        width: 92%;
        height: 550px;
    }
    .login-input{
        margin-left: 18px;
    }
    .login-input input{
        width: 228px;
    }
    .login-btn{
        width: 255px;
        margin-left: 20px;
    }
    .social-auth-btn{
        width: 258px;
        margin-left: 20px;
    }
}
