*{
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #f3f3f3;
}
.basicdetail_heading h2{
    margin-top: 20px;
    margin-left: 30px;
    padding-bottom: 25px;
}
.basicdetail_heading{
    border-bottom: 1px solid grey;
    margin-left: 30px;
    margin-right: 30px;
}
.basicdetail_box{
    height: 600px;
    width: 700px;
    background-color: #fff;
    margin-left: 400px;
    padding-top: 10px;
    /* border: 1px solid grey; */
    border-radius: 25px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}
.basicdetail_input{
    margin-left: 30px;
    font-weight: 500;
    margin-top: 18px;
}
.basicdetail_input  input{
    height: 30px;
    border-radius: 5px;
    border: 1px solid grey;
    width: 630px;
}
.basicdetail_input input:focus{
    outline: none;
    border-color:rgb(150, 204, 238);
}
.createprofile-button{
    margin-left: 10px;
    margin-top: 25px;
}
.createprofile-button a{
    text-decoration: none;
    color: white;
}
.createprofile-button > button{
    padding-left: 245px;
    padding-right: 245px;
    padding-top: 8px;
    font-size: 18px;
    padding-bottom: 8px;
    border: 0px;
    border-radius: 8px;
    background-color: rgb(23, 140, 212);
    color: white;
}
#options{
    margin-top: 10px;
    border-radius: 5px;
    width: 630px;
    height: 40px;
}

.gender-detail{
    margin-left: 30px;
    margin-top: 15px;
}
.gender-detail p{
    font-weight: 500;
}
.gender-options{
    margin-top: 5px;
}
.gender-option{
    display: inline;
}
.basicdetail_input h4{
    margin-bottom: 5px;
}
.basicdetail_input p{
    margin-bottom: 10px;
}
.form-navigation {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}
.form-navigation a{
    text-decoration: none;
    color: white;
}

.progress-dots {
    text-align: center;
    margin: 20px 0;
}

.dot {
    display: inline-block;
    width: 12px;
    height: 12px;
    margin: 0 5px;
    background-color: #bbb;
    border-radius: 50%;
    cursor: pointer;
}

.dot.active {
    background-color: #4CAF50;
}

.form-page{
    display: none;
}

.form-page.active{
    display: block;
}

.application-container{
    overflow: hidden;
    margin: 30px auto;
}

.jobtype_box{
    height: 650px;
    width: 650px;
    background-color: #fff;
    margin-left: 400px;
    margin: 30px auto;
    padding-top: 10px;
    /* border: 1px solid grey; */
    border-radius: 25px;
    padding-left: 30px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}
.jobtype_heading{
    border-bottom: 1px solid grey;
    /* margin-left: -30px; */
    display: flex;
    
    margin-left: 10px;
    margin-right: 40px;
}
.jobtype_box h2{
    margin-top: 20px;
    margin-left: 70px;
    padding-bottom: 25px;
}
.option-input-box 
{
    margin-left: 20px;
}
.option-name
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;
    border: 1px solid rgb(172, 170, 170);
    height: 35px;
    width: 576px;
    border-radius: 4px;
}
.option-name:hover{
    border-color: rgb(28, 69, 26);
}
.option-input-box p
{
    font-size: 15px;
    margin-bottom: 10px;
    margin-top: 15px;
    font-weight: 600;
    margin-left: -5px;
}
input[type="checkbox"] 
{
    margin-right: 10px;
    width: 16px;
    height: 16px;
    margin-left: 5px;
}
label 
{
    cursor: pointer;
    margin-left: 10px;
}
.form-navigation {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}
.form-navigation a{
    text-decoration: none;
    color: white;
}
.nextt-btn {
    width: 100%;
    padding: 10px 20px;
    background: #228364;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-left: 25px;
    margin-right: 25px;
}
.nextt-btn:hover {
   background: #196e52;
}

.prev-btn{
    border: none;
    background-color: white;
}
#page3 .next-btn{
 margin-top: 20px;
 margin-right: 10px;
 margin-left: -5px;
 width: 610px;
}

#page6 .nextt-btn{
    width: 630px;
    margin-left: -5px;
}